<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>controller.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Track</servlet-name>
        <servlet-class>controller.Track</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>controller.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageProduct</servlet-name>
        <servlet-class>controller.AdminManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProduct</servlet-name>
        <servlet-class>controller.AdminAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProduct</servlet-name>
        <servlet-class>controller.AdminEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <servlet-class>controller.AdminDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrder</servlet-name>
        <servlet-class>controller.AdminManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderDetails</servlet-name>
        <servlet-class>controller.AdminOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCustomer</servlet-name>
        <servlet-class>controller.AdminManageCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Track</servlet-name>
        <url-pattern>/track</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageProduct</servlet-name>
        <url-pattern>/admin/manage-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProduct</servlet-name>
        <url-pattern>/admin/manage-product/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/admin/manage-product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/admin/manage-product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrder</servlet-name>
        <url-pattern>/admin/manage-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderDetails</servlet-name>
        <url-pattern>/admin/manage-order/view-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCustomer</servlet-name>
        <url-pattern>/admin/manage-customer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
